<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/rsdk_network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdsTask"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



<!--        <service-->
<!--            android:name="com.rad.playercommon.business.RoulaxVideoDownloadService"-->
<!--            android:exported="false" >-->
<!--            <intent-filter>-->
<!--                <action android:name="com.rad.playercommon.exoplayer.downloadService.action.RESTART" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
<!--        </service>-->
<!--        <service-->
<!--            android:name="com.rad.playercommon.exoplayer2.scheduler.PlatformScheduler$PlatformSchedulerService"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->


<!--        <provider-->
<!--            android:name="com.rad.RSDKInitializer"-->
<!--            android:authorities="${applicationId}.rad.RSDKInitializer"-->
<!--            android:exported="false"-->
<!--            android:initOrder="100" />-->

<!--        <service-->
<!--            android:name="com.rad.trace.sender.LegacySenderService"-->
<!--            android:enabled="@bool/rxtrace_enable_legacy_service"-->
<!--            android:exported="false"-->
<!--            android:process=":rxtrace" />-->
<!--        <service-->
<!--            android:name="com.rad.trace.sender.JobSenderService"-->
<!--            android:enabled="@bool/rxtrace_enable_job_service"-->
<!--            android:exported="false"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE"-->
<!--            android:process=":rxtrace" />-->

<!--        <activity-->
<!--            android:name="com.rad.ow.mvp.RXWallActivity"-->
<!--            android:configChanges="orientation|keyboardHidden|screenSize"-->
<!--            android:exported="false"-->
<!--            android:launchMode="singleTop"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />-->

<!--        <service android:name="com.rad.ow.core.usage.service.UsageObserverService" />-->

<!--        <provider-->
<!--            android:name="com.tinsot.TinsotInitializer"-->
<!--            android:authorities="${applicationId}.tinsot.TinsotInitializer"-->
<!--            android:exported="false"-->
<!--            android:initOrder="101" />-->

    </application>

</manifest>